*.Rmd
*lftp.sh
*.docx
*/._*
*DS_Store*
._*
*.html
*figure-html*
.snakemake*
analysis/*
!analysis/.keep
benchmark*
FT-SE6114*
logs
raw_data/*
bin/~*
bin/render.sh
bin/*test*
*cache*
test*

.Rproj.user
.Rhistory
*.Rproj
